# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_URL=jdbc:mysql://db:3306/micheladas?useSSL=false&serverTimezone=America/Mexico_City&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=admin_password_123

# --- CREDENCIALES DEL ADMINISTRADOR INICIAL ---
ADMIN_EMAIL=reclutador@ejemplo.com
ADMIN_PASSWORD=password123
ADMIN_NOMBRE=Reclutador
ADMIN_APELLIDO=Prueba
ADMIN_MOBILE=1234567890