<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="~{layout/layout :: head('Gestión de Clientes')}"></head>
<body>
<nav th:replace="~{layout/layout :: navbar('Clientes', '/clientes/nuevo')}"></nav>
<div th:replace="~{layout/layout :: alerts}"></div>

<div class="container table-container">
	<h1>Clientes</h1>
	<img th:src="@{/img/customers.png}" width="60" class="img-rounded float-right">

	<!-- Acciones y Formulario (puedes dejarlos aquí o fragmentarlos si son iguales) -->
	<div class="actions">
		<a th:href="@{/exportarPDFcli}" class="btn">PDF</a>
		<a th:href="@{/exportarExcelcli}" class="btn">Excel</a>
		<button onclick="ocultarDatos()" class="btn">Ocultar</button>
		<button onclick="mostrarDatos()" class="btn">Mostrar</button>
	</div>

	<div th:replace="~{layout/layout :: buscador('/ventas')}"></div>

	<table id="table2">
		<thead>
		<tr><th>Id</th><th>Numero/Cliente</th><th>Nombre completo</th><th>Dirección</th><th>CP</th><th>Fecha</th><th>Acciones</th></tr>
		</thead>
		<tbody>
		<!--llamamos clientes de listarTodosLosClientes-->
		<tr th:each="cliente : ${customers}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.customerNumber}"></td>
			<td th:text="${cliente.fullName}"></td>
			<td th:text="${cliente.address}"></td>
			<td th:text="${cliente.zipCode}"></td>
			<td th:text="${cliente.createdAt}"></td>
			<td>
				<a th:href="@{/vercli/{id}(id=${cliente.id})}" class="btn">Consultar</a>
				<a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="btn">Actualizar</a>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/clientes/{id}(id=${cliente.id})}"
				   class="btn btn-danger"
				   onclick="return confirm('¿Estás seguro de eliminar este registro?')">Eliminar</a>
			</td>
		</tr>
		</tbody>
	</table>

	<div th:replace="~{layout/layout :: paginador(${page})}"></div>
</div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>