<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
	<meta charset="utf-8">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/stylo.css}">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<nav th:fragment="navbar(marca, linkNuevo)" class="navbar">
	<div class="navbar-left">
		<a class="navbar-brand" href="#" th:text="${marca}">Marca</a>
		<a th:href="@{__${linkNuevo}__}" class="navbar-link">Registrar información</a>
		<a th:href="@{/index}" class="navbar-link">Menú</a>
	</div>
	<div class="navbar-right">
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="navbar-link">Cerrar sesión</button>
		</form>
	</div>
</nav>

<form th:fragment="buscador(action)" class="form-inline" style="margin-top:10px;" onsubmit="return false;">
	<label>Filtrar:</label>
	<input type="text" name="keyword" id="inputBusqueda"
		   placeholder="ingresa el dato a buscar"
		   onkeyup="buscarEnTabla()" required>

	<button type="button" class="btn-buscador" onclick="buscarEnTabla()" title="Buscar">
		🔍
	</button>

	<button type="button" class="btn-buscador" onclick="limpiarCampos()" title="Limpiar">
		🧹
	</button>
</form>

<div th:fragment="alerts" class="container">
	<div th:each="msg : ${ {'success', 'error', 'warning', 'info'} }"
		 th:if="${__${msg}__ != null}"
		 th:classappend="'alert-' + ${msg}"
		 class="alert"
		 th:text="${__${msg}__}"></div>
</div>

<nav th:fragment="paginador(page)" aria-label="Page navigation">
	<ul class="pagination justify-content-center">
		<li class="page-item" th:classappend="${page.first} ? 'disabled'">
			<a class="page-link" th:href="@{${page.url}(page=${page.currentPage-2})}">Anterior</a>
		</li>
		<li class="page-item" th:each="p : ${page.pages}" th:classappend="${p.current} ? 'active'">
			<a class="page-link" th:href="@{${page.url}(page=${p.number-1})}" th:text="${p.number}"></a>
		</li>
		<li class="page-item" th:classappend="${page.last} ? 'disabled'">
			<a class="page-link" th:href="@{${page.url}(page=${page.currentPage})}">Siguiente</a>
		</li>
	</ul>
</nav>
</html>