<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head_comun(titulo)">
	<meta charset="utf-8">
	<title th:text="${titulo}">Título por defecto</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

<header th:fragment="navbar(tituloPagina, linkListado, textoListado)">
	<nav>
		<strong class="titulo-T" th:text="${tituloPagina}">Título</strong>
		<ul>
			<li><a th:href="${linkListado}" th:text="${textoListado}">Listado</a></li>
			<li><a th:href="@{/index}">Menú</a></li>
		</ul>
	</nav>
	<hr>
</header>

<div th:fragment="alerta_success">
	<div th:if="${success != null}" style="color: green; font-weight: bold; margin-bottom: 10px;">
		<p th:text="${success}"></p>
	</div>
</div>
<div th:fragment="alertas_flash">
	<div th:if="${info != null}" style="background-color: blue; color: white; font-weight: bold; margin-bottom: 10px;text-align: center;">
		<p th:text="${info}"></p>
	</div>
</div>

</body>
</html>