<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(contenido)">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema Micheladas</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div class="container">
	<main th:replace="${contenido}"></main>

	<footer>
		<hr>
		<p>Desarrollado por <strong>micheladasChelas</strong> &copy; 2026</p>
		<p>Derecho reservado por su uso</p>
	</footer>
</div>

</body>
</html>