<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Compra de Cigarros')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('CIGARROS', '/cigarros', 'Lista de cigarros')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Registro de Cigarros</h1>

	<form th:action="@{/cigarros/guardar}" th:object="${cigarro}" method="POST">
		<table>
			<tr>
				<td><label for="brand">Marca:</label></td>
				<td>
					<input type="text" th:field="*{brand}" id="brand">
					<span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="quantity">Cantidad:</label></td>
				<td>
					<input type="number" th:field="*{quantity}" id="quantity">
					<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="precio">Precio:</label></td>
				<td>
					<span>$MXN</span>
					<input type="number" th:field="*{unitPrice}" id="unitPrice" step="0.01">
					<span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="totalAmount">Total:</label></td>
				<td>
					<span>$MXN</span>
					<input type="number" th:field="*{totalAmount}" id="totalAmount" step="0.01" readonly>
					<span th:if="${#fields.hasErrors('totalAmount')}" th:errors="*{totalAmount}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>