body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


.table-container {
    background: #ffffff;
    border-radius: 15px;
    padding: 18px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.06);
    margin-top: 25px;
}


h1 {
    font-weight: 700;
    color: #003366;
    font-size: 1.5rem;
}


.table-responsive {
    border-radius: 12px;
    overflow-x: auto;
}

table {
    min-width: 1150px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 6px;
    font-size: 0.83rem;
}


.table thead th {
    border: none;
    color: #666;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    padding: 10px;
    white-space: nowrap;
}


.table tbody tr {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    transition: all 0.15s ease-in-out;
    border-radius: 10px;
}

.table tbody tr:hover {
    background-color: #f8fbff;
}


.table td {
    padding: 9px 11px;
    vertical-align: middle;
    border: none;
    font-size: 0.82rem;
    white-space: nowrap;
}


.userAgent-cell {
    max-width: 280px;
    white-space: normal;
    word-break: break-word;
    font-size: 0.75rem;
    color: #666;
    line-height: 1.2;
}


.badge-risk {
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: uppercase;
}



.bg-high {
    background-color: #fde2e1;
    color: #b42318;
}

.bg-medium {
    background-color: #fff4d6;
    color: #b45309;
}

.bg-low {
    background-color: #e6f7ea;
    color: #1b7f3a;
}


.btn-pdf {
    background-color: #d32f2f;
    color: white;
    border-radius: 8px;
    padding: 7px 16px;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.85rem;
    transition: 0.2s;
}

.btn-pdf:hover {
    background-color: #b71c1c;
}


code {
    font-size: 0.78rem;
}

.small-muted {
    font-size: 0.72rem;
    color: #888;
}

/* MOVIL DEVICE */

@media (max-width: 480px) {

    .table-container {
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    h1 {
        font-size: 1rem;
        text-align: center;
    }

    .table {
        font-size: 0.7rem;
    }

    table {
        min-width: 850px;
    }

    .table thead th {
        font-size: 0.55rem;
        padding: 5px;
    }

    .table td {
        padding: 5px 6px;
        font-size: 0.7rem;
    }

    code {
        font-size: 0.65rem;
        padding: 2px 4px;
    }

    .btn-pdf {
        padding: 3px 7px;
        font-size: 0.5rem;
        white-space: nowrap;
            display: inline-flex;
            align-items: center;
            gap: 6px;
    }

    .userAgent-cell {
        max-width: 140px;
        font-size: 0.65rem;
        line-height: 1.1;
    }

    .hide-mobile {
        display: none !important;
    }
}