<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/view :: layout(~{::section})}">
<body>

<section>
	<nav>
		<a th:href="@{/clientes}" class="btn-back">Página anterior</a>
	</nav>
	<h2>Datos registrados</h2>
	<table>
		<tr>
			<th>ID:</th>
			<td th:text="${cliente.id}"></td>
		</tr>
		<tr>
			<th>Numero/Cliente:</th>
			<td th:text="${cliente.customerNumber}"></td>
		</tr>
		<tr>
			<th>Nombre:</th>
			<td th:text="${cliente.fullName}"></td>
		</tr>
		<tr>
			<th>Dirección:</th>
			<td th:text="${cliente.address}"></td>
		</tr>
		<tr>
			<th>CP:</th>
			<td th:text="${cliente.zipCode}"></td>
		</tr>
		<tr>
			<th>Fecha de Registro:</th>
			<td th:text="${cliente.createdAt}"></td>
		</tr>
	</table>
</section>

</body>
</html>