<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{layout/editar :: head('Editar Proveedores')}"></th:block>
</head>
<body>

<header th:replace="~{layout/editar :: header('GESTIÓN DE Proveedores')}"></header>

<div class="cuerpo-pagina">
	<div class="tarjeta-edicion">
		<h1 class="titulo-formulario">Edición de Proveedores</h1>

		<form th:action="@{/proveedores/{id}(id=${proveedor.id})}" th:object="${proveedor}" method="POST">
			<div th:replace="~{layout/new :: alertas_flash}"></div>

			<input type="hidden" th:field="*{id}">

			<div class="campo-grupo">
				<label>Id:</label>
				<span class="texto-id" th:text="*{id}"></span>
			</div>

			<div class="campo-grupo">
				<label>Nombre:</label>
				<input type="text" th:field="*{name}" required>
			</div>

			<div class="campo-grupo">
				<label>Telefono:</label>
				<input type="text" th:field="*{phone}" required>
			</div>

			<div class="campo-grupo">
				<label>Ubicacion:</label>
				<input type="text" th:field="*{location}" required>
			</div>

			<div class="campo-grupo">
				<label>Fecha de registro:</label>
				<input type="text" th:field="*{createdAt}" required>
			</div>

			<button type="submit" class="boton-guardar">Actualizar Registro</button>
		</form>
	</div>
</div>

<footer th:replace="~{layout/editar :: footer}"></footer>

</body>
</html>