/*pagina completa */
body {
	background: url(../img/fondo2.jpg) no-repeat center center fixed;
	background-size: cover;
}
/*nombre, apellido,email,password */
.control-label {
	color: white;
	opacity: 10;
}
/*cajas de texto */
.form-control {
	width: 400px;
	height: 30px;
	background: white;
	opacity: .3;
}
/*registro e inicio de sesion */
.navbar-brand {
	background-color: dark;
	opacity: .3;
}
/*registrate*/
h1 {
	color: green;
	opacity: 10;

}
/*boton registrar*/
.btn-reg {
	background-color: rgba(186, 29, 4, 0.8);
	color: white;
	opacity: .7;
}
/*si estas registrado*/
span {
	color: white;
	opacity: 10;
}
/*inicia sesion aqui*/
a {
	color: red;
	opacity: 10;
}
/*letras de la caja de texto*/
#input {
	background-color: rgba(18, 18, 18, 0.99);
	color: white;
	opacity: 10;
}
.form-group-datos{
	text-align: right;
}

/*Se ha registrado exitosamente a la aplicación*/
.alert{
	text-align: center;
	background: black;
	opacity: .6;
	width: 400px;
	height: 45px;
} 