<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{layout/editar :: head('Editar Precios')}"></th:block>
</head>
<body>

<header th:replace="~{layout/editar :: header('GESTIÓN DE Precios')}"></header>

<div class="cuerpo-pagina">
	<div class="tarjeta-edicion">
		<h1 class="titulo-formulario">Edición de Precios</h1>

		<form th:action="@{/precios/{id}(id=${precio.id})}" th:object="${precio}" method="POST">
			<div th:replace="~{layout/new :: alertas_flash}"></div>

			<input type="hidden" th:field="*{id}">

			<div class="campo-grupo">
				<label>Id Producto:</label>
				<input type="text" th:field="*{id_producto}" required>
			</div>

			<div class="campo-grupo">
				<label>Descripcion:</label>
				<input type="text" th:field="*{descripcion}" required>
			</div>

			<div class="campo-grupo">
				<label>Existencia:</label>
				<input type="text" th:field="*{existencia}" required>
			</div>

			<div class="campo-grupo">
				<label>Precio:</label>
				<input type="text" th:field="*{precio_producto}" required>
			</div>

			<button type="submit" class="boton-guardar">Actualizar Registro</button>
		</form>
	</div>
</div>

<footer th:replace="~{layout/editar :: footer}"></footer>

</body>
</html>