<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>cambio contraseña</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/estili.css">
</head>
<body>

	<div class="modal-dialog text-center">
		<div class="col-sm main-section">
			<div class="modal-content">
				<div class="col-10 user-img">
					<img th:src="@{/img/contrasena.jpeg}" />
				</div>
				<h1>Recupera tu contraseña</h1>
				<form class="col-12" th:action="@{/forgotPassword}" method="post">
					<div th:if="${session.msg}" class="text-center">
						<h4 class="text-danger" th:text="${session.msg}"></h4>
						<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
					</div>

					<div class="mb-3">
						<label>Ingresa tu correo electrónico</label> <input type="text"
							class="form-control" name="email" />
					</div>

					<div class="mb-3">
						<label>Ingresa tu número celular</label> <input type="number"
							class="form-control" name="mobileNum" />
					</div>

					<button class="btn  col-md-12">Enviar</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						
							<a class="nav-link text-white"
								th:href="@{/login}">Regresar a login</a>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>

