<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Venta General')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('VENTAS', '/ventas', 'Lista de ventas')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Registro de Ventas</h1>

	<form th:action="@{/ventas/guardar}" th:object="${venta}" method="POST">
		<table>
			<tr>
				<td><label for="vasos">Vasos:</label></td>
				<td>
					<input type="number" th:field="*{vasos}" id="vasos">
					<span th:if="${#fields.hasErrors('vasos')}" th:errors="*{vasos}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="cigarros">Cigarros:</label></td>
				<td>
					<input type="number" th:field="*{cigarros}" id="cigarros">
					<span th:if="${#fields.hasErrors('cigarros')}" th:errors="*{cigarros}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="caguamas">Caguamas:</label></td>
				<td>
					<input type="number" th:field="*{caguamas}" id="caguamas">
					<span th:if="${#fields.hasErrors('caguamas')}" th:errors="*{caguamas}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="stock_caguamas">Stock caguamas:</label></td>
				<td>
					<input type="number" th:field="*{stock_caguamas}" id="stock_caguamas">
					<span th:if="${#fields.hasErrors('stock_caguamas')}" th:errors="*{stock_caguamas}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="stock_cigarros">Stock cigarros:</label></td>
				<td>
					<input type="number" th:field="*{stock_cigarros}" id="stock_cigarros">
					<span th:if="${#fields.hasErrors('stock_cigarros')}" th:errors="*{stock_cigarros}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="total">Total:</label></td>
				<td>
					<span>$</span>
					<input type="number" th:field="*{total}" id="total" step="0.01">
					<span th:if="${#fields.hasErrors('total')}" th:errors="*{total}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>