<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Proveedores')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('PROVEEDORES', '/proveedores', 'Lista de proveedores')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Registro de Proveedores</h1>

	<form th:action="@{/proveedores/guardar}" th:object="${proveedor}" method="POST">
		<table>
			<tr>
				<td><label for="nombre">Nombre:</label></td>
				<td>
					<input type="text" th:field="*{nombre}" id="nombre">
					<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="telefono">Teléfono:</label></td>
				<td>
					<input type="text" th:field="*{telefono}" id="telefono">
					<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="ubicacion">Ubicación:</label></td>
				<td>
					<input type="text" th:field="*{ubicacion}" id="ubicacion">
					<span th:if="${#fields.hasErrors('ubicacion')}" th:errors="*{ubicacion}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>