<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Prestado')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('PRESTADO', '/prestados', 'Lista de prestado')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Registro de Préstamos</h1>

	<form th:action="@{/prestados/guardar}" th:object="${prestado}" method="POST">
		<table>
			<tr>
				<td><label for="nombre">Nombre:</label></td>
				<td>
					<input type="text" th:field="*{nombre}" id="nombre">
					<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="cantidad">Cantidad:</label></td>
				<td>
					<input type="number" th:field="*{cantidad}" id="cantidad">
					<span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="total">Total ($):</label></td>
				<td>
					<span>$</span>
					<input type="number" th:field="*{total}" id="total" step="0.01">
					<span th:if="${#fields.hasErrors('total')}" th:errors="*{total}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="descripcionDelPedido">Descripción:</label></td>
				<td>
					<input type="text" th:field="*{descripcionDelPedido}" id="descripcionDelPedido">
					<span th:if="${#fields.hasErrors('descripcionDelPedido')}" th:errors="*{descripcionDelPedido}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>