<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Clientes')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('CLIENTES', '/clientes', 'Datos de los clientes')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Registro de Clientes</h1>

	<form th:action="@{/clientes/guardar}" th:object="${cliente}" method="POST">
		<table>
			<tr>
				<td><label for="num_cliente">Número/Cliente:</label></td>
				<td>
					<input type="text" th:field="*{num_cliente}" id="num_cliente">
					<span th:if="${#fields.hasErrors('num_cliente')}" th:errors="*{num_cliente}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="nombre_completo">Nombre completo:</label></td>
				<td>
					<input type="text" th:field="*{nombre_completo}" id="nombre_completo">
					<span th:if="${#fields.hasErrors('nombre_completo')}" th:errors="*{nombre_completo}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="direccion">Dirección:</label></td>
				<td>
					<input type="text" th:field="*{direccion}" id="direccion">
					<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="cp">CP:</label></td>
				<td>
					<input type="text" th:field="*{cp}" id="cp">
					<span th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<br>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>