<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/new :: head_comun('Otros Gastos')}"></head>
<body>

<header th:replace="~{layout/new :: navbar('OTROS GASTOS', '/gastos', 'Listado gastos')}"></header>

<main>
	<div th:replace="~{layout/new :: alerta_success}"></div>

	<h1>Otros Gastos</h1>

	<form th:action="@{/gastos/guardar}" th:object="${gasto}" method="POST">
		<table>
			<tr>
				<td><label for="articulo">Artículo:</label></td>
				<td>
					<input type="text" th:field="*{articulo}" id="articulo">
					<span th:if="${#fields.hasErrors('articulo')}" th:errors="*{articulo}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="cantidad">Cantidad:</label></td>
				<td>
					<input type="number" th:field="*{cantidad}" id="cantidad" step="1">
					<span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="precio">Precio:</label></td>
				<td>
					<span>$mxn</span>
					<input type="number" th:field="*{precio}" id="precio" step="0.01">
					<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td><label for="total">Total:</label></td>
				<td>
					<span>$mxn</span>
					<input type="number" th:field="*{total}" id="total" step="0.01" readonly>
					<span th:if="${#fields.hasErrors('total')}" th:errors="*{total}" style="color: red;"></span>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<button type="submit">Guardar</button>
				</td>
			</tr>
		</table>
	</form>
</main>

</body>
</html>