<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>clientes</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
		<a class="navbar-brand text-white" href="#">CLIENTES</a>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/clientes}"> Listado clientes</a></li>
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/index}">Menu micheladas</a></li>
			</ul>
		</div>
	</nav>

	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-5 col-md-5 col-sm-5 container justify-content-center card border-dark mb-3">
				<div class="alert alert-success" th:if="${success !=null}" th:text="${success}"></div>
				<h1 class="text-center">Clientes</h1>
				<div class="card-body">
					<form th:action="@{/clientes/guardar}" th:object="${cliente}"
						method="POST">

						<div class="form-group">
							<label>Numero de cliente: </label> <input type="text"
								name="num_cliente" th:field="*{num_cliente}"
								class="form-control"
								placeholder="ingresa el numero de cliente: " required>
								<small class="form-text text-danger offset-3"
								th:if="${#fields.hasErrors('num_cliente')}" th:errors="*{num_cliente}"></small>
						</div>

						<div class="form-group">
							<label>Nombre completo : </label> <input type="text"
								name="nombre_completo" th:field="*{nombre_completo}"
								class="form-control" placeholder="ingresa el nombre completo: "
								required>
								<small class="form-text text-danger offset-3"
								th:if="${#fields.hasErrors('nombre_completo')}" th:errors="*{nombre_completo}"></small>
						</div>

						<div class="form-group">
							<label>Direccion: </label> <input type="text" name="direccion"
								th:field="*{direccion}" class="form-control"
								placeholder="ingresa su direccion: " required>
								<small class="form-text text-danger offset-3"
								th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
						</div>

						<div class="form-group">
							<label>CP : </label> <input type="text" name="cp"
								th:field="*{cp}" class="form-control"
								placeholder="ingresa su Codigo postal : " required>
								<small class="form-text text-danger offset-3"
								th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"></small>
						</div>

						<div class="box-footer">
							<button class="btn btn-danger">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
