<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>cambio contraseña</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

</head>
<style>
body {
	background-image: url("../img/fondo3.jpg");
	background-repeat: no-repeat;
	background-size: 150% 150%;
}
</style>
<body>
	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section">
			<div class="modal-content">
				<div class="col-10 user-img">
					<img th:src="@{/img/resetear.jpeg}" />
				</div>

				<h1>Reiniciar contraseña</h1>
				<form class="col-12" th:action="@{/changePassword}" method="post">
					<!--alert message  -->
					<div th:if="${session.msg}" class="text-center">
						<h4 class="text-danger" th:text="${session.msg}"></h4>
						<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
					</div>

					<div class="mb-3">
						<label>Nueva contraseña</label> <input type="password"
							class="form-control" name="psw" />
					</div>

					<div class="mb-3">
						<label>Confirma contraseña</label> <input type="password"
							class="form-control" name="cpsw" />
					</div>

					<input type="hidden" name="id" th:value="${id}">

					<button class="btn btn-danger col-md-12">Cambiar
						contraseña</button>
				</form>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					
						<a class="nav-link text-white"
							th:href="@{/login}">Regresar a login</a>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</html>

