<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/view :: layout(~{::section})}">
<body>

<section>
	<nav>
		<a th:href="@{/caguamas}" class="btn-back">Página anterior</a>
	</nav>
	<h2>Datos registrados</h2>
	<table>
		<tr>
			<th>ID:</th>
			<td th:text="${caguama.id}"></td>
		</tr>
		<tr>
			<th>Marca:</th>
			<td th:text="${caguama.marca}"></td>
		</tr>
		<tr>
			<th>Precio:</th>
			<td th:text="${caguama.precio}"></td>
		</tr>
		<tr>
			<th>Cantidad:</th>
			<td th:text="${caguama.cantidad}"></td>
		</tr>
		<tr>
			<th>Total:</th>
			<td th:text="${caguama.total}"></td>
		</tr>
		<tr>
			<th>Fecha de Registro:</th>
			<td th:text="${caguama.fechaRegistro}"></td>
		</tr>
	</table>
</section>

</body>
</html>