<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item active" th:text="${venta.id}"></li>
					<li class="list-group-item" th:text="${venta.vasos}"></li>
					<li class="list-group-item" th:text="${venta.cigarros}"></li>
					<li class="list-group-item" th:text="${venta.caguamas}"></li>
					<li class="list-group-item" th:text="${venta.total}"></li>
					<li class="list-group-item" th:text="${venta.stock_caguamas}"></li>
					<li class="list-group-item" th:text="${venta.stock_cigarros}"></li>
					<li class="list-group-item" th:text="${venta.fechaRegistro}"></li>
				</ul>
				<a th:href="@{/ventas}" class="btn btn-primary text-white">regresar
					a ventas</a>
			</div>
		</div>
	</div>
</body>
</html>