<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" text="detalles de los cigarros"></div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item active" th:text="${cigarro.id}"></li>
					<li class="list-group-item" th:text="${cigarro.marca}"></li>
					<li class="list-group-item" th:text="${cigarro.precio}"></li>
					<li class="list-group-item" th:text="${cigarro.cantidad}"></li>
					<li class="list-group-item" th:text="${cigarro.total}"></li>
					<li class="list-group-item" th:text="${cigarro.fechaRegistro}"></li>
				</ul>
				<a th:href="@{/cigarros}" class="btn btn-primary text-white">regresar
					a cigarros</a>
			</div>
		</div>
	</div>

</body>
</html>