<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/view :: layout(~{::section})}">
<body>

<section>
	<nav>
		<a th:href="@{/proveedores}" class="btn-back">Página anterior</a>
	</nav>
	<h2>Datos registrados</h2>
	<table>
		<tr>
			<th>ID:</th>
			<td th:text="${proveedor.id}"></td>
		</tr>
		<tr>
			<th>Nombre:</th>
			<td th:text="${proveedor.nombre}"></td>
		</tr>
		<tr>
			<th>Telefono:</th>
			<td th:text="${proveedor.telefono}"></td>
		</tr>
		<tr>
			<th>Ubicacion:</th>
			<td th:text="${proveedor.ubicacion}"></td>
		</tr>
		<tr>
			<th>Fecha de Registro:</th>
			<td th:text="${proveedor.fechaRegistro}"></td>
		</tr>
	</table>
</section>

</body>
</html>