<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/view :: layout(~{::section})}">
<body>

<section>
    <nav>
        <a th:href="@{/ventas}" class="btn-back">Página anterior</a>
    </nav>
    <h2>Datos registrados</h2>
    <table>
        <tr>
            <th>ID:</th>
            <td th:text="${venta.id}"></td>
        </tr>
        <tr>
            <th>Vasos:</th>
            <td th:text="${venta.vasos}"></td>
        </tr>
        <tr>
            <th>Cigarros:</th>
            <td th:text="${venta.cigarros}"></td>
        </tr>
        <tr>
            <th>Caguamas:</th>
            <td th:text="${venta.caguamas}"></td>
        </tr>
        <tr>
            <th>Total:</th>
            <td th:text="${venta.total}"></td>
        </tr>
        <tr>
            <th>Stock_caguamas:</th>
            <td th:text="${venta.stock_caguamas}"></td>
        </tr>
        <tr>
            <th>Stock_cigarros:</th>
            <td th:text="${venta.stock_cigarros}"></td>
        </tr>
        <tr>
            <th>Fecha de Registro:</th>
            <td th:text="${venta.fechaRegistro}"></td>
        </tr>
    </table>
</section>

</body>
</html>